
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href='#' download="App_Data\01. Введение. Шаблон MVC. Middleware.rar">Скачать материалы урока</a>
</body>
</html>
